{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Log In to Time Card Clone.</h2>
      <form method="POST" id="staff_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="row">
            {{ field.label(class="col-6")}}
            {{ field(placeholder=field.label.text, class="col-6") }}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

        <button class="btn btn-primary btn-lg">Log In</button>
      </form>
    </div>
  </div>

{% endblock %}