{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="">
      <h2>Sign In to Time Card Clone.</h2>
      <form method="POST" id="signup_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="container">
            {{ field.label(class="")}}
            {{ field(placeholder=field.label.text, class="") }}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

        <button class="btn btn-primary btn-lg">Sign Up</button>
      </form>
    </div>
  </div>

{% endblock %}